/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

/* Fundo dark */
body {
    background-color: #121212;
    color: #fff;
}

/* Container principal */
.container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

/* Banner */
.banner {
    position: relative;
}

.banner-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Foto de perfil */
.profile-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #121212;
    position: absolute;
    bottom: -60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
}

/* Botão */
.links {
    margin-top: 80px; /* espaço depois da imagem de perfil */
    padding: 0 20px;
}

.btn-whatsapp {
    display: inline-block;
    background-color: #25D366;
    color: white;
    padding: 15px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s;
    width: 100%;
    max-width: 300px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* <-- sombra no texto */
}

.btn-whatsapp:hover {
    background-color: #1ebc5e;
}

.tutorial {
    margin: 40px 16px 0 16px; /* margem nas laterais */
    padding: 20px;
    background-color: #1e1e1e;
    text-align: left;
    color: #ccc;
    font-size: 14px;
    line-height: 1.6;
    border-radius: 10px; /* pode manter se quiser as bordas suaves */
}


.tutorial strong {
    color: #fff;
}

.tutorial ol {
    margin-top: 10px;
    padding-left: 20px;
}


